body{
    background: url(../fotky_hrady/background_login.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

input[type=text], input[type=password], select
{
    width: 200px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
    font-size: 16px;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: white;
    width: 250px;
    color: #000000;
    font-size: 16px;
}
input[name='tlacidlo']
{
    width: 15em;
    background-color: #6699ff;
    color: white;
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;

}
input[name='tlacidlo']:hover
{
    background-color: #4d88ff;
}

.prihlasovacie_okno
{
    position: absolute;
    margin-top: 270px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 420px;
    padding: 35px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    text-align: center;
}
.fotka
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);

}

input[name='Registruj']
{
    width: 15em;
    background-color: #003cb3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}
input[name='Registruj']:hover
{
    background-color: #0055ff;
}
h1
{
    font-family: 'Sanchez', serif;
    font-size: 300%;
    color: white;
}
h2
{
    font-family: 'Sanchez', serif;
    font-size: 200%;
    color: white;
}
p, input{
    font-family: 'Pontano Sans', sans-serif;
    color: white;
}
